<!DOCTYPE html>
<head>
    <title>Message</title>
    <link href="/static/main.css" type="text/css" rel="stylesheet" />
</head>
<body>
    The messages are:
    <ul>
    {% for item in message %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
    To submit a message, please fill out the form below.
    <form action="#" method="post">
        <div>
            <label for="message">
                <input type="text" id="message" name="message">
            </label>
        </div>
        <div class="button">
            <button type="submit">Send</button>
        </div>
    </form>
</body>